#price{
    margin-bottom: 5px;
}

#cartTable td {
    vertical-align:middle;
}

.field-validation-error{
    color:#f00;
}

.field-validation-valid{
    display:none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #edc5c5;
}

.validation-summary-errors {
    font-weight: bold;
    color: #edc5c5;
}

.validation-summary-valid{
    display:none;
}